@charset "UTF-8";

/* ====== fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */


/* ====== Color Palette =========== */
/* ====== fonts =========== */
/* ====== Font Sizes =========== */
/* ====== Text =========== */
/* ====== padding =========== */
/* ====== margin =========== */
/* ====== border radius =========== */
/*----------- functions -----------*/
/*---------- animation ----------*/
@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes bg_animate {

    0%,
    100% {
        width: 18rem;
    }

    50% {
        width: 3rem;
    }
}

/* --------------------------------
RESET CSS
-------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ul,
li {
    list-style: none;
}

select {
    width: 100%;
}

input:focus,
button:focus,
textarea:focus {
    outline: 0;
}

a:hover {
    color: #464646;
    text-decoration: none;
}

button {
    padding: .5rem 2rem;
    cursor: pointer;
    border: 0px;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-size: 15px;
    overflow-x: hidden;
}

body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    color: #464646;
}

input {
    min-height: 42px;
    padding: 0 1rem;
    border-radius: 25px;
    border: 2px solid #ccc;
    background: transparent;
}

input::placeholder {
    color: #ccc;
}

textarea {
    resize: none;
    padding: 0.5rem 1rem;
    height: 84px;
    border-radius: 25px;
    border: 2px solid #ccc;
    background: transparent;
}

textarea::placeholder {
    color: #ccc;
}

p,
h1,
h2,
h3,
form {
    margin: 0 0px 1rem;
}

h1 {
    font-size: 40px;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

section {
    padding: 5rem 0;
}

/*---------- General Classes -------------*/
.margin_top {
    margin-top: 2rem;
}

.margin_top_4 {
    margin-top: 4rem;
}

.margin_bottom {
    margin-bottom: 2rem;
}

.margin_right {
    margin-right: 1rem;
}

.margin_top-6 {
    margin-top: -6rem;
}

.padding_top {
    padding-top: 2rem;
}

.padding_top_0 {
    padding-top: 0;
}

.padding_bottom {
    padding-bottom: 2rem;
}

.padding_left_4 {
    padding-left: 4rem;
}

.padding_right {
    padding-right: 3rem;
}

.text_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text_small {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 2rem;
}

.owl-carousel .owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-dots .owl-dot.active {
    width: 30px;
    border-radius: 25px;
}

.owl-carousel.blue .owl-dots .owl-dot {
    background-image: linear-gradient(#0f97d5, #39459b);
}

.owl-carousel.green .owl-dots .owl-dot {
    background-image: linear-gradient(#13c8c2, #034780);
}

.owl-carousel.purple .owl-dots .owl-dot {
    background-image: linear-gradient(#8312d1, #3c1053);
}

.disabled {
    color: #ccc;
}

.hidden {
    display: none;
}

.sec_desc {
    max-width: 700px;
    margin: auto;
}

/* ------------ text color --------------*/
.text_blue {
    color: #39459b;
}

.text_light_blue {
    color: #0f97d5;
}

.text_congress_blue {
    color: #034780;
}

.text_orang {
    color: #e85412;
}

.text_green {
    color: #13c8c2;
}

.text_purple {
    color: #8312d1;
}

.text_dark_purple {
    color: #3c1053;
}

/* ------------ buttons styles --------------*/
.btn_style {
    padding: .7rem 1.5rem;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}

.btn_style:hover {
    box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transform: translate(0, -0.5rem);
    -moz-transform: translate(0, -0.5rem);
    -o-transform: translate(0, -0.5rem);
    transform: translate(0, -0.5rem);
    color: #fff;
}

.blu_grad_btn {
    background: linear-gradient(to right bottom, #0f97d5, #39459b);
}

.orng_btn {
    background: #e85412;
}

.purple_grad_btn {
    background: linear-gradient(to right bottom, #8312d1, #3c1053);
}

.green_grad_btn {
    background-image: linear-gradient(to right bottom, #13c8c2, #034780);
}

.btn_green {
    background: #13c8c2;
}

.lightgreen_btn {
    background: #fff;
    color: #034780;
}

.lightgreen_btn:hover {
    color: #034780;
}

/*--------- background colors*-----------*/
.bg_blue_grad {
    background: linear-gradient(to right bottom, #39459b, #0f97d5);
}

.bg_green_grad {
    background: linear-gradient(to right bottom, #034780 20%, #13c8c2);
}

.bg_purple_grad {
    background: linear-gradient(to right bottom, #3c1053 20%, #8312d1);
}

.bg_purple {
    background: #8312d1;
}

.sec_bg_gray {
    background: #f9f9f9;
}

.bg_orang {
    background: #e85412;
}

.bg_blue {
    background: #39459b;
}

.bg_light_blue {
    background: #0f97d5;
}

.bg_green {
    background: #13c8c2;
}

/* ------------ border color --------------*/
.border_white {
    border-color: #fff;
}

/* ------------ header style --------------*/
.site_header {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.site_header .navbar-brand {
    line-height: 0;
}

.site_header .navbar-brand img {
    max-height: 38px;
}

.site_header .navbar {
    background: #fff;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    padding: .8rem 2rem;
}

.site_header .navbar-collapse {
    flex-basis: auto;
}

.site_header .nav-item.nav-link,
.site_header .nav-item.nav-link.active {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

.site_header .nav-item.nav-link:last-child,
.site_header .nav-item.nav-link.active:last-child {
    padding: .5rem 0 .5rem .5rem;
}

.site_header .nav-item.nav-link:hover,
.site_header .nav-item.nav-link.active:hover {
    color: #464646;
}

.site_header.header-scroll_bg_light {
    background: #fff;
    box-shadow: 0 0 16px #eee;
}

.site_header.header-scroll_bg_light .navbar {
    margin-top: 0;
    box-shadow: none;
    padding: .5rem 2rem;
}

.site_header .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}

.site_header .loader .boxLoading {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.site_header .loader .boxLoading:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

.site_header .loader .boxLoading:after {
    content: '';
    width: 50px;
    height: 50px;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.site_header .loader .boxLoading.blue:after {
    background: linear-gradient(to right bottom, #0f97d5, #39459b);
}

.site_header .loader .boxLoading.green:after {
    background: linear-gradient(to right bottom, #13c8c2, #034780);
}

.site_header .loader .boxLoading.purple:after {
    background: linear-gradient(to right bottom, #8312d1, #3c1053);
}

/* ------------ herosection style --------------*/
#hero_section,
#about_ceo {
    padding: 10rem 0 2rem;
    position: relative;
    min-height: 500px;
}

#hero_section:before,
#about_ceo:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100% !important;
    padding-top: 15rem;
    z-index: 1;
    background: url(../img/top-img.png);
}

#hero_section .hero_img,
#about_ceo .hero_img {
    line-height: 0;
    position: relative;
    overflow: hidden;
}

#hero_section .hero_img img,
#about_ceo .hero_img img {
    max-height: 500px;
    position: relative;
}

#hero_section #subscribe_form,
#about_ceo #subscribe_form {
    margin-bottom: 6rem;
    position: relative;
    z-index: 1;
}

#hero_section #subscribe_form .form-input,
#about_ceo #subscribe_form .form-input {
    border-width: 2px 0 2px 2px;
    border-radius: 25px 0 0 25px;
    color: #fff;
}

#hero_section #subscribe_form .form-input::placeholder,
#about_ceo #subscribe_form .form-input::placeholder {
    color: #fff;
}

#hero_section #subscribe_form .sub_btn,
#about_ceo #subscribe_form .sub_btn {
    border-radius: 0 25px 25px 0;
}

#hero_section #subscribe_form .sub_btn:hover,
#about_ceo #subscribe_form .sub_btn:hover {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#hero_section.style_2,
#about_ceo.style_2 {
    padding: 10rem 0 6rem;
}

#hero_section.style_2:before,
#about_ceo.style_2:before {
    display: none;
}

#hero_section.style_2 .hero_img,
#about_ceo.style_2 .hero_img {
    margin: auto;
    text-align: right;
    overflow: visible;
}

#hero_section.style_2 .hero_img span,
#about_ceo.style_2 .hero_img span {
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hero_section.style_2 .hero_img span:first-child,
#about_ceo.style_2 .hero_img span:first-child {
    top: 0;
    right: 14rem;
    width: 4rem;
    border-radius: 25px;
    height: 124%;
    transform: rotate(58deg);
}

#hero_section.style_2 .hero_img span:nth-child(2),
#about_ceo.style_2 .hero_img span:nth-child(2) {
    top: 7rem;
    z-index: 1;
    left: 3rem;
    width: 3rem;
    border-radius: 25px;
    height: 38%;
    transform: rotate(58deg);
}

#hero_section.style_2 .hero_img span:nth-child(3),
#about_ceo.style_2 .hero_img span:nth-child(3) {
    top: -10rem;
    right: 18rem;
    width: 1rem;
    border-radius: 25px;
    height: 100%;
    transform: rotate(58deg);
}

#hero_section.style_2 .hero_img span:nth-child(4),
#about_ceo.style_2 .hero_img span:nth-child(4) {
    top: -6rem;
    right: 20rem;
    width: 1rem;
    border-radius: 25px;
    height: 134%;
    transform: rotate(58deg);
}

#hero_section.style_2 .hero_img img,
#about_ceo.style_2 .hero_img img {
    border-radius: 50%;
    width: 80%;
    display: block;
    margin: 0 auto;
}

#hero_section.style_2 #subscribe_form,
#about_ceo.style_2 #subscribe_form {
    margin-bottom: 6rem;
    position: relative;
    z-index: 1;
}

#hero_section.style_2 #subscribe_form .form-input,
#about_ceo.style_2 #subscribe_form .form-input {
    border-color: #ccc;
    color: #464646;
}

#hero_section.style_2 #subscribe_form .form-input::placeholder,
#about_ceo.style_2 #subscribe_form .form-input::placeholder {
    color: #ccc;
}


#about_ceo.style_2 .social a {
    margin-right: 15px;
}



/* ------------ businesses styel --------------*/
#businesses {
    position: relative;
}

#businesses .serv_item {
    padding: 3rem 1.5rem;
    background: #f9f9f9;
    border: 2px solid #eee;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#businesses .serv_item .brand_logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

#businesses .serv_item .brand_logo img {
    width: 90px;
}

#businesses .serv_item .serv_icon {
    font-size: 50px;
}

#businesses .serv_item .serv_tit {
    padding-bottom: 1rem;
    position: relative;
}

#businesses .serv_item .serv_tit:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 2px;
    background: #464646;
    z-index: -1;
}

#businesses .serv_item .serv_icon,
#businesses .serv_item .serv_icon_2,
#businesses .serv_item .serv_tit,
#businesses .serv_item .serv_desc {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#businesses .serv_item .serv_desc span {
    display: block;
}

#businesses .serv_item .serv_hover {
    position: absolute;
    padding: 3rem 1.5rem;
    top: 0;
    left: 0;
    border-radius: 8px;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform-origin: bottom;
    width: 100%;
    height: 100%;
}

#businesses .serv_item:hover .serv_tit,
#businesses .serv_item:hover .serv_icon,
#businesses .serv_item:hover .serv_desc {
    color: #fff;
}

#businesses .serv_item:hover .serv_tit:after,
#businesses .serv_item:hover .serv_icon:after,
#businesses .serv_item:hover .serv_desc:after {
    background: #fff;
}

#businesses .serv_item:hover .serv_hover {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

/* ------------ about-us section styel --------------*/
#about-us .about_image {
    position: relative;
    line-height: 0;
}

#about-us .about_image img {
    border-radius: 8px;
    border: 2px solid #fff;
}

#about-us .about_image #play_video {
    position: absolute;
    top: calc(50% - 50px);
    left: 90%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 2rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

#about-us .about_image #play_video .paly_icon {
    position: relative;
}

#about-us .about_image #play_video:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

#about-us .about_content ul li {
    margin-bottom: 1rem;
}

#about-us .about_content ul li ._icon {
    font-size: 10px;
}

#about-us .video_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#about-us .video_popup .video_src {
    position: relative;
    width: 700px;
    max-width: 80%;
}

#about-us .video_popup .iframe_src {
    width: 100%;
    height: 0;
    padding-top: 57.6%;
    position: relative;
}

#about-us .video_popup .iframe_src iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------ pricing section styel --------------*/
#pricing .pricingTable {
    color: #464646;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: #f9f9f9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#pricing .pricingTable .pricing_header {
    border-bottom: 2px solid #ccc;
}

#pricing .pricingTable .pricing-content li {
    margin-bottom: 1rem;
}

#pricing .pricingTable:hover {
    -webkit-transform: translate(0, -1rem);
    -moz-transform: translate(0, -1rem);
    -o-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
    box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.3);
}

#pricing .pricingTable.adv_table {
    -webkit-transform: translate(0, -1rem);
    -moz-transform: translate(0, -1rem);
    -o-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
    box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.3);
}

/* ------------ contact_us section styel --------------*/
#contact_us .contact-us {
    background: #fff;
    border-radius: 8px;
    padding: 3rem 2rem;
    box-shadow: 0 0 14px #ccc;
    width: 85%;
    margin-right: 0;
    margin-left: 0;
}

#contact_us .contact_popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 1040;
    display: none;
    justify-content: center;
    align-items: center;
}

#contact_us .contact_popup #contact_form {
    max-width: 500px;
    background: #f9f9f9;
    padding: 2rem;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

#contact_us .contact_popup .form-input {
    margin-bottom: 1rem;
}

#contact_us .contact_info {
    border-radius: 8px;
}

#contact_us .contact_info h3 {
    margin-bottom: 0;
}

#contact_us .contact_info p {
    margin-bottom: 0;
}

#contact_us .contact_info a {
    color: #464646;
}

#contact_us .contact_info .info_icon {
    font-size: 25px;
}

#contact_us .map {
    height: 100%;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    line-height: 0;
    width: 140%;
    -webkit-transform: translate(3rem, 0);
    -moz-transform: translate(3rem, 0);
    -o-transform: translate(3rem, 0);
    transform: translate(3rem, 0);
}

#contact_us .map iframe {
    height: 100%;
    position: relative;
    z-index: 0;
    width: 100%;
}

/* ------------ go to top button --------------*/
.go_to_top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: .5rem 1rem;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    display: none;
}

.go_to_top:hover {
    color: #fff;
}

/* ------------ footer section styel --------------*/
.site_footer {
    padding: 2rem 0;
    line-height: 0;
}

.site_footer p {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .site_header .navbar-collapse {
        width: 100%;
        padding-top: 2rem;
        overflow-y: auto;
    }

    #hero_section {
        padding: 10rem 0 5rem;
        text-align: center;
    }

    #hero_section .padding_right {
        padding-right: 15px;
    }

    #hero_section:before {
        bottom: -2px;
    }

    #hero_section .hero_img {
        display: none;
    }

    #about-us .about_content {
        margin-top: 4rem;
        padding-left: 0;
    }

    #about-us .about_image #play_video {
        left: calc(50% - 50px);
    }

    .blog_item {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .blog_item .blog_content p {
        margin-bottom: 0;
    }

    #contact_us .contact-us {
        width: 100%;
        margin: 4rem auto 0;
    }

    .about_us .accordion {
        margin-top: 3rem;
        text-align: center;
    }

    .about_us .accordion .accordion_fillter {
        justify-content: center;
    }

    .about_us .about_serv {
        margin-bottom: 2rem;
    }

    .about_desc {
        text-align: center;
        padding: 5rem 0;
    }

    .about_desc .padding_left_4 {
        padding-left: 15px;
    }

    .about_desc p {
        margin-bottom: 0;
    }

    .about_desc .about_img {
        display: none;
    }

    .blog_page .aside-sec .categories {
        margin-top: 3rem;
    }

    .blogs_page .margin_top {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .top_section {
        height: 260px;
    }

    #hero_section:before {
        padding-top: 9rem;
    }

    #portfolio .toolbar {
        display: inline-block;
        padding: 1rem;
    }

    #portfolio .toolbar .fil_btn {
        font-size: 1rem;
    }

    #businesses:before {
        background-size: cover !important;
    }

    #pricing {
        padding-bottom: 3rem;
    }

    #pricing .pricingTable {
        margin-bottom: 2rem;
    }

    #pricing .pricingTable.adv_table {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        box-shadow: none;
    }

    #contact_us {
        background-size: cover !important;
    }

    #contact_us .map {
        width: 100%;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 2rem;
    }

    .error_page .row {
        flex-direction: column-reverse;
    }

    .error_page ._404 {
        font-size: 13vw;
        line-height: 13vw;
    }

    .error_page ._404 span {
        font-size: 14vw;
    }

    .error_page .error {
        font-size: 7vw;
        line-height: 7vw;
    }

    .error_page img {
        margin-top: 2rem;
    }

    .site_footer p {
        margin-bottom: 1rem;
    }

    .site_footer .navbar {
        padding: 0;
        margin: 1rem 0;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .comimg_header .brand img {
        max-width: 80px;
    }

    .comingsoon_page h2 {
        font-size: 25px;
        font-size: 6vw;
    }

    .comingsoon_page h1 {
        font-size: 20px;
        font-size: 6vw;
        line-height: 25px;
    }

    .comingsoon_page #subscribe_form {
        width: 92% !important;
    }

    .comingsoon_page #subscribe_form .d-flex {
        flex-wrap: wrap;
    }

    .comingsoon_page #subscribe_form .d-flex .form-input {
        border-radius: 25px;
        margin-bottom: 1rem;
    }

    .comingsoon_page #subscribe_form .d-flex .sub_btn {
        border-radius: 25px;
    }

    .comingsoon_page .social_media a {
        font-size: 17px;
    }

    .comingsoon_page #contact_form .col {
        flex-basis: 100%;
    }

    .go_to_top {
        bottom: 1rem;
        right: 1rem;
        padding: 1rem;
        font-size: 17px;
        z-index: 1;
    }
}
